<section id="social-pane" class="row text-center social">
  {{ with .Site.Params.social.google }}
  <a href="https://plus.google.com/{{.}}/about"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.github }}
  <a href="https://github.com/{{.}}"><i class="fa fa-github" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.scholar }}
  <a href="https://scholar.google.com/citations?user={{.}}&hl=en"><i class="ai ai-google-scholar" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.linkedin }}
  <a href="https://linkedin.com/in/{{.}}"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.email }}
  <a href="mailto:{{.}}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.twitter }}
  <a href="https://twitter.com/{{.}}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  {{ end }}
</section>
